body{
    margin: 0 0 0 0;
}
.banner{
    background-color:#FCEEF1;
    padding: 80px 90px;
    display: flex;
    align-content: center;
}
.banner-title{
    width: 500px;
    font-size: 55px;
}
.colum{
    width: 50%;
}
.banner-description{
    text-align: justify;
    color: dimgray;
    margin-bottom: 15px;
    display: block;
    padding-bottom: 20px;
}
.common-button{
    background-color: #E55473;
    padding: 10px 8px;
    border-radius: 5px;
    
}
.colum>a {
    text-decoration: none;
    color: white;
    
}
.banner-flower>img{
    width: 635px;
    height: 800px;
}
.banner-title{
    margin-top: 200px;
}
.our-features{
    text-align: center;
    padding: 80px 90px;
     
}
.feature-title{
    font-weight: bolder;
    font-size: 40px;

}
.feature-description{
    font-weight: 200;
    color: darkgray;
    
}
.feature-container {
    display: flex;
    width: 100%;
    justify-content: center;
     
    
}
.pink-tulip {
    background-color: #F1DDE7;
}
.box-flower{
    border-radius: 200px 200px 0px 0px;
    padding: 40px 35px 0px 35px;
    
}
.box-flower img{
    width: 200px;
    height: 300px;
}
.blue-sunflower{
    background: #D9EFF0;
}
.yellow-tulip{
    background: #E3EBDB;
}
.feature-box a{
    text-align: center;
    color: gray;
    font-weight: 700;
}

.featurelink-cont{
    display: flex;
    justify-content: space-evenly;
    background-color: #F4F4F4;
    padding: 10px 20px;
    align-items: center;
    margin: 80px 90px;
}
.flink-box{
    padding-top: 20px;
}
.flink-box>p{
    color: gray;
    font-weight: 700;
}
.basic-padding{
    padding: 80px 90px;
}
.basic-margin{
    margin: 80px 90px;
}
.hot-deal{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FDF6F8;
}
.hot-deal-box{
    text-align: center;
}
.hot-deal-box>h2{
    font-weight: 800;
    font-size: 25px;
}
.hot-deal-box>h2 span{
    color: #E55473;
}
.hot-deal-box>p{
    color: gray;
    font-weight: 500;
    margin-bottom: 15px;
}
.hot-deal-box>input{
    background: #E55473;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
}
.instagram{
    text-align: center;
     
    
}
.instagram>p{
    color: gray;
    font-weight: 500;
    margin-bottom: 30px;
}
.instagram>h2{
    font-weight: bolder;
    font-size: 28px;
}
.insta-container{
    display: flex;
    /* justify-content: center; */
    justify-content: center;
}
.insta-pic>img{
    width: 90%;
}
.subscribe-section{
    background-image: url(images/Rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    margin-top: 65px;
}
.subscribe-box>input{
    width: 60%;
    border: none;
    border-radius: 10px;
    padding: 14px 20px;
    margin-right: 10px;
}
.subscribe-box>a{
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    background: #E55473;
    border-radius: 10px;
}
.footer-section{
    text-align: center;
    background-color: black;
    color: white;
}
.footer-section>h1 span{
    color: #E55473;
}
.footer-section{
    color: white;
    font-weight: 400;
}
.copyright{
    color: lightgrey;
    font-weight: 500;
    margin-top: 30px;
    font-size: 10px;
}