body{
    margin: 0 0 0 0;
}
.banner{
    background-color:#FCEEF1;
    padding: 80px 90px;
    display: flex;
    align-content: center;
}
.banner-title{
    width: 500px;
    font-size: 55px;
}
.colum{
    width: 50%;
}
.banner-description{
    text-align: justify;
    color: dimgray;
    margin-bottom: 15px;
    display: block;
    padding-bottom: 20px;
}
.common-button{
    background-color: #E55473;
    padding: 10px 8px;
    border-radius: 5px;
    
}
.colum>a {
    text-decoration: none;
    color: white;
    
}
.banner-flower>img{
    width: 635px;
    height: 800px;
}
.banner-title{
    margin-top: 200px;
}
.our-features{
    text-align: center;
    padding: 80px 90px;
     
}
.feature-title{
    font-weight: bolder;
    font-size: 40px;

}
.feature-description{
    font-weight: 200;
    color: darkgray;
    
}
.feature-container {
    display: flex;
    width: 100%;
    justify-content: center;
     
    
}
.pink-tulip {
    background-color: #F1DDE7;
}
.box-flower{
    border-radius: 200px 200px 0px 0px;
    padding: 40px 35px 0px 35px;
    
}
.box-flower img{
    width: 200px;
    height: 300px;
}
.blue-sunflower{
    background: #D9EFF0;
}
.yellow-tulip{
    background: #E3EBDB;
}
.feature-box a{
    text-align: center;
    color: gray;
    font-weight: 700;
}

.featurelink-cont{
    display: flex;
    justify-content: space-evenly;
    background-color: #F4F4F4;
    padding: 10px 20px;
    align-items: center;
    margin: 80px 90px;
}
.flink-box{
    padding-top: 20px;
}
.flink-box>p{
    color: gray;
    font-weight: 700;
}
.basic-padding{
    padding: 80px 90px;
}
.basic-margin{
    margin: 80px 90px;
}